/* styles.css */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes whooshInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start far off-screen to the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Move to its final position */
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #4253eb;
}

.body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.article {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
    height: 75vh;
    width: 75vh;
}

.article section {
    margin-bottom: 50px;
    /* Add space to see the effect while scrolling */
    font-size: 18px;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    color: #ffffff;
}

.visualizations {
    display: flex;
    flex-direction: column;
}

.visual {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 10px 30px;
    /* Add some space between the maps */
}

.visual.active {
    display: block;
}

.visual:not(.active) {
    display: none;
}

#textBox {
    animation: fade-in 5s;
    padding: 10px;
    margin-bottom: 5px;
    /* Space between text and map */
    font-size: 28px;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    /* Apply Orbitron font */
    border-radius: 5px;
    text-align: center;
    width: 80%;
}

#subtextBox {
    animation: fade-in 8s;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px;
    text-align: center;
    width: 80%;
}

#chartdiv {
    animation: whooshInFromRight 1s ease-out;
    opacity: 1;
    width: 100%;
    height: 400px;
}

#chartdiv2 {
    animation: whooshInFromRight 1s ease-out;
    opacity: 1;
    width: 75%;
    height: 400px;
}

#chartdiv3 {
    animation: whooshInFromRight 1s ease-out;
    opacity: 1;
    width: 75%;
    height: 400px;
}

#mapInfo {
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-style: italic;
}

#infoBox {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    /* Center the box */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 8px;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    max-width: 500px;
    max-height: 300px;
    overflow-y: auto;
    /* Make the box scrollable */
    display: none;
    /* Initially hidden */
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

#infoBox .popupContent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

#infoBox .popupTitle {
    font-family: 'Orbitron', sans-serif !important;
    /* Orbitron for title */
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
#closeBtn {
    font-family: 'Orbitron', sans-serif;
    /* Orbitron for title */
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #411d1d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}

#closeBtn button:hover {
    background-color: #af0000;
}

/* Style for the replay button */
#replayButton {
    background-color: #7d6974;
    /* Green background */
    color: white;
    /* White text */
    font-size: 14px;
    /* Slightly larger text */
    font-weight: bold;
    /* Bold text */
    padding: 5px 10px;
    /* Adequate padding */
    border: none;
    /* Remove default border */
    border-radius: 8px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: all 0.3s ease;
    /* Smooth transition for hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

/* Hover effect */
#replayButton:hover {
    background-color: #473f44;
    transform: translateY(-2px);
    /* Slight lift effect */
}

/* Active effect (when clicked) */
#replayButton:active {
    transform: translateY(0);
    /* Button goes back to normal position */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Lighter shadow when pressed */
}

/* Quarter-Circle Banner */
.corner-banner {
    position: fixed;
    top: 0;
    right: 0;
    width: 165px; /* Adjust size if needed */
    height: 165px;
    background: rgba(255, 255, 255, 0.5); /* Transparent white */
    border-bottom-left-radius: 150px; /* Creates the quarter-circle */
    display: flex;
    align-items: flex-start; /* Align content to the top-left */
    justify-content: flex-end; /* Align content to the right */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
  }
  
  /* Content inside the quarter-circle */
  .corner-content {
    position: relative;
    text-align: right; /* Align text to the right */
    width: 100%;
  }
  
  /* Text styling */
  .corner-content p {
    margin: 30px 0;
    font-size: 14px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(2, 10, 154);
    line-height: 1.5;
  }

  /* Close Button */
  .corner-close-btn {
    top: 5px;
    right: 5px;
    position: absolute;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: rgba(1, 34, 68, 0.5);
  }
  
  .corner-close-btn:hover {
    color: #f90000; /* Highlight color on hover */
  }